html {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
body{
    font-family: DIN-Regular;
    color: #737373;
}





/* TYPOGRAPHY */

h1{
    font-family: DIN-Bold;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
h2{
    font-family: DIN-Bold;
    font-size: 20px;

}
p{
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}
a{
    color: #FFB900;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover, a:focus, a:active{
    color: #FFB900;
    text-decoration: none;
    border-bottom: 1px solid #FFB900;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}

.block{
    margin-bottom: 32px;
}

.solo-title{
    color:#FD5C63;
    margin-bottom: 15px;
}
.accompanied-title{
    color:#FD5C63;
    margin-bottom: 0;
    margin-top: 0;
}
.small-la-hackers-title{
    color:#FD5C63;
    margin-bottom: 0;
    margin-top: 0;
    display: none;
}
.full-image{
    width: 100%;
}
.la-hackers{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 600px;
}
.our-values-heading{
    color: #FD5C63
}
.our-values-sub-heading{
    color: #4C4491
}



@media(max-width: 767px){
    .la-hackers{
        width: 50%;
    }
    .accompanied-title{
        display:none;
    }
    .small-la-hackers-title{
        display: block;
        text-align: center;
    }
}
@media(max-width: 600px){
    h1{
        font-size: 30px;
    }
}





/* NAVIGATION*/
nav{
    margin-bottom: 0 !important;
    z-index: 3;
}
a.nav-link{
    color: #737373;
}
a.nav-link:hover, a.nav-link:focus, a.nav-link:active{
    color: #FD5C63 !important;
    text-decoration: none !important;
    border: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    background: transparent !important;
}
.navbar-nav>li>a{
    padding: 0 !important;
}


li{
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: DIN-Bold;
    font-size: 14px;
    letter-spacing: .875px;
}

.navbar-nav{
    margin: 0 !important;
}
.icon-bar{
    background-color: #737373;
}
.navbar-toggle{
    margin: 0;
    padding-top: 28.5px;
    padding-right: 35px;
}
.navbar-right{
    margin: 0;
    background-color: rgba(255,255,255,0.92);
}
.container>.navbar-header{
    margin: 0;
}
#nav_home_small{
    display: none;
}
#nav_home_big{

}
#nav_about_small{
    display: none;
}
#nav_about_big{

}
.sponsors-padding{

}

.navbar-toggle .icon-bar{
    height: 3px !important;
}
.collapsed-shadow{
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.05)
}

.custom-nav-changes{
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.05);
    height: 81px;
}

@media(max-width: 767px){
    #nav_about_small{
        display: inline;
    }
    #nav_about_big{
        display: none;
    }
    #nav_home_small{
        display: inline;
    }
    #nav_home_big{
        display: none;
    }
    .sponsors-padding{
        padding-bottom: 35px;
    }
}






/* HOMEPAGE */

.homepage-section{
    position: absolute;
    margin-left: 15%;
    margin-top: 6%;
}
.homepage-small-section{
    text-align: center;
    padding-top: 140px;
}

.homepage-title{
    font-family: DIN-Bold;
    font-size:74px;
    color: #FD5C63;
    line-height: 72px;
}

.homepage-sub-title{
    font-size: 36px;
    color: #FD5C63;
}
.homepage-info{
    margin-top: 20px;
    font-size: 23px;
}
.small-event-logo{
    width: 300px;
    padding-bottom: 50px;
}
.data-vis-title{
    color: white;
    text-align: center;
}



/* ALIGNMENT/SPACING */

.va{}

.va.vertical-align {
    display: flex;
    flex-direction: row;
}

.va.vertical-align > [class^="col-"],
.va.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
}
.float_center {
    float: right;

    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}
.float_center > .child {
    position: relative;
    left: 50%;
}
a.float_center{
    border: 0 !important;
}
.top-big-section{
    padding-top: 155px;
    visibility: hidden;
}
.top-small-section{
    display: none;
}
.second-section-block{
    position: absolute;
    margin-left: 7%;
    margin-top: 65%;
    max-width: 500px;
    padding-top: 60px;
}
.third-section-block{
    margin-left: 7%;
    position: absolute;
    margin-top: 120%;
}
.section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.small-section{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.small-extra-section{

}
.unnecessary-block{

}
.circle-section{
    padding-top: 50px;
}

.hline {
    margin-bottom: 20px;
    width:50px;
    height:5px;
    color: #c7c7c7;
}
.sponsor-row{
    padding-top: 70px;
}
.our-values-bottom-padding{
    height: 100px;
}
.data-hacks-spacing{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

.small-our-values{
    width: 29.5%;
    position: absolute;
    top: 220%;
    right: 0%;
}
.small-la-hackers{
    color: #FD5C63;
    text-align: center;
}
article.clients {
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
article.big-clients{
    width: 50%;
    height: 200px;
}
article.med-clients{
    width: 33.333%;
    height: 150px;
}
article.small-clients{
    width:25%;
    height: 100px;
}

article.clients * {
    vertical-align: middle;
}

article.clients span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
.big-logo{
  width: 350px;
}
.med-logo{
    width:180px;
}
.small-logo{
    width:120px;
}
.sponsors-header{
    text-align: center;
    padding-bottom: 100px;
}
.logo-section{
    height: 515px;
}
.data-vis{
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 1150px;
    max-width: 1400px;
    position: relative;
    bottom: 0px;
}
.footer{
    padding-bottom: 35px;
}
.small-footer-logo{
    width:30px;
}



@media(min-width: 1400px){
    .second-section-block{
        margin-left: 12%;
    }
    .third-section-block{
        margin-left: 12%;
    }
}
@media(min-width: 1600px){
    .second-section-block{
        margin-left: 15%;
    }
    .third-section-block{
        margin-left: 15%;
    }
}
@media(min-width: 1800px){
    .second-section-block{
        margin-left: 18%;
    }
    .third-section-block{
        margin-left: 18%;
    }
}
@media(min-width: 2000px){
    .second-section-block{
        margin-left: 21%;
    }
    .third-section-block{
        margin-left: 21%;
    }
}
@media(max-width: 1080px){
    .second-section-block{
        margin-top: 65%;
    }
    .third-section-block{
        margin-top: 117%;
    }
    .unnecessary-block{
        display: none;
    }
}

@media(max-width: 991px){
    .top-big-section{
        display: none;
    }
    .top-small-section{
        display: inline;
    }
    .homepage-title{
        font-size: 50px;
        line-height: 50px;
    }

    .homepage-sub-title{
        font-size: 24px;
    }
    .homepage-info{
        margin-top: 10px;
        font-size: 16px;
    }
    .data-hacks-spacing{
        padding-left: 10%;
        padding-right: 10%;
    }
    .our-values-bottom-padding{
        height: 0;
    }
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .big-logo{
        width: 300px;
    }
    .med-logo{
        width:154px;
    }
    .small-logo{
        width:102px;
    }
}

@media(max-width: 767px){
    .sponsors-header{
        padding-bottom: 50px;
    }
    .logo-section{
        height: 370px;
    }
    .big-logo{
        width: 250px;
    }
    .med-logo{
        width:128px;
    }
    .small-logo{
        width:85px;
    }
    .small-our-values{
        display:none;
    }
    .small-extra-section{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    article.big-clients{

        height: 150px;
    }
    article.med-clients{
        height: 100px;
    }
    article.small-clients{
        height: 50px;
    }
}

@media(max-width: 700px){
    .data-hacks-spacing{
        padding-left: 5%;
        padding-right: 5%;
    }
    .small-section{
        padding-left: 5%;
        padding-right: 5%;
    }
    .small-extra-section{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media(max-width: 600px){
    article.big-clients{
        width: 100%;
    }
    article.med-clients{
        width: 100%;
    }
    article.small-clients{
        width:50%
    }
    .logo-section{
        height: 910px;
    }
}




/* BACKGROUNDS */

.faq-background{
    background-image: linear-gradient(330deg, #4C4491 0%, #FD5C63 100%);
    /*background-image: linear-gradient(330deg, #4C4491 0%, #66BFBF 100%);*/
    /*background-image: linear-gradient(345deg, rgba(255,185,0,0.50) 0%, #FD5C63 70%);*/
    /*background-image: linear-gradient(345deg, rgba(255,185,0,0.50) 0%, #66BFBF 70%);*/
    color: white;
}

.data-hacks-background{
    background-image: linear-gradient(345deg, rgba(255,185,0,0.50) 0%, #FD5C63 70%);
    /*background-image: linear-gradient(330deg, #4C4491 0%, #FD5C63 100%);*/
    /*background-image: linear-gradient(180deg, rgba(102, 191, 191, 1) 0%, #409999 80%);8?*/
    color: white;
}

.top-illustration{
    width: 100%;
    display: block;
    margin: auto;
}
.second-illustration{
    left: 35%;
    position: absolute;
}





/* BUTTONS */

#experiment{

}
#build{
    display: none;
}
#ideas{
    display: none;
}

.circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #c7c7c7;
    margin: 10px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.active-circle-experiment{
    background-color: #FFB900;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.active-circle-build{
    background-color: #66BFBF;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.active-circle-ideas{
    background-color: #4C4491;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

i
{
    display: inline-block;
    border-radius: 100px;
    border: 1px solid #737373;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
i:hover{
    border: 1px solid transparent ;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.fa-facebook:before {
    content: "\f09a";
    line-height: 28px;
    color: #737373;
}
.fa-twitter:before {
    content: "\f099";
    line-height: 28px;
    color: #737373;
}
.fa-snapchat-ghost:before {
    content: "\f2ac";
    line-height: 28px;
    color: #737373;
}
.fa-envelope:before {
    content: "\f0e0";
    line-height: 28px;
    color: #737373;
}

